
body{
    background-color: #390e4b;
}

.container{
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
       background-color: rgba(0, 0, 0, 0.2);
       color:white;
       border: none;
       max-width: 400px;
}

.todos li{
    background-color: #471c5a;
    color:white;
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}